# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.mo
*.log
*.sqlite3
*.env

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Installers
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Database
db.sqlite3

# Media
media/

# Static files
staticfiles/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy
.mypy_cache/

# Coverage
coverage_html_report/

# MacOS
.DS_Store

# VS Code
.vscode/
